<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-googlepay" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>GooglePay</name>
    <description>Implements Google Pay.</description>
    <keywords>cordova,payment,google pay</keywords>
    <repo></repo>
<engines>
    <engine name="cordova" version=">=8.3.0"/>
</engines>
    <platform name="android">
        <framework src="com.google.android.gms:play-services-wallet:18.0.0"/>

        <config-file target="AndroidManifest.xml" parent="application">
            <meta-data android:name="com.google.android.gms.wallet.api.enabled" android:value="true" />
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="GooglePay">
                <param name="android-package" value="com.gems.googlepay" />
            </feature>
        </config-file>

        <js-module src="www/googlepay.js" name="payment">
            <clobbers target="GooglePay" />
        </js-module>

        <source-file src="src/android/GooglePay.java" target-dir="src/com/cordova/plugin" />

    </platform>
	
</plugin>
